<h1>ProficientMD - Edit</h1>

<% form_for @patient_profile do |f| %>
  <fieldset>
  <legend> Patient Record </legend>

    <div>
      <%= f.label :first_name, "First Name: " %>
      <%= f.text_field :first_name, :size =>  35 %>
    </div>

    <div>
      <%= f.label :last_name, "Last Name: " %>
      <%= f.text_field :last_name, :size =>  35 %>
    </div>

    <div>
      <%= f.label :date_of_birth, "Date of Birth: " %>
      <%= f.text_field  :date_of_birth,  :size  => 15 %>
    </div>

    <div>
      <%= f.label :gender, "Gender: " %>
      <%= f.text_field  :gender, :size  =>  3 %>
    </div>

  </fieldset>
</div>

  <p>
    <%= f.submit 'Update' %>
  </p>

<%= link_to 'Show', @patient_profile %> |
<%= link_to 'Back', patient_profiles_path %>
<% end %>
