<div id="index-body">

    <h1 id="index-title">ProficientMD - List of current patients</h1>
    
    <table>
      <tr>
        <th class="index-th">Id:</th>
        <th class="index-th">Patient Id</th>
        <th class="index-th">User Id</th>
        <th class="index-th">First Name</th>
        <th class="index-th">Last Name</th>
      </tr>
    
    <% for patient_profile in @patient_profiles %>
      <tr>
        <td class="index-td"><%=h patient_profile.id %></td>
        <td class="index-td"><%=h patient_profile.pmd_patient_id %></td>
        <td class="index-td"><%=h patient_profile.pmd_user_id %></td>
        <td class="index-td"><%=h patient_profile.first_name %></td>
        <td class="index-td"><%=h patient_profile.last_name %></td>
        <td class="index-td"><%= button_to 'Show Patient Record', patient_profile_path(patient_profile.id), :method=>:get , :class=>"form-subButton1"%></td>
        <td class="index-td"><%= button_to 'Delete', patient_profile_path(patient_profile.id), :method=>:delete, :class=>"form-subButton1" %></td>
      </tr>
    <%end%>
    
    </table>
    <br />
    
    <p>
    <%= link_to 'New patient_profile', new_patient_profile_path, :id=>"index-newButton" %>
    </p>
    
</div>
