<!-- New Patient Profile -->    

    <div id="main-wrapper">
      <div id="main-header">'New' Patient Profile</div>
      <div id="main-form">

        <p>
          <% form_for(@patient_profile) do |f| %>

            <div class="main-sectionTitle">Patient Id's</div>

            <label class="form-label">Patient ID:</label>
            <%=f.text_field :pmd_patient_id, :size=>20, :maxlength=>255, :readonly=>:true, :class=>"form-inputText" %><br />

            <label class="form-label">User ID:</label>
            <%=f.text_field :pmd_user_id, :size=>20, :maxlength=>32, :readonly=>:true, :class=>"form-inputText" %><br />

            <div class="main-sectionTitle">Contact Information</div>

            <%=error_messages_for(:patient_profile) %>

            <label class="form-label">Primary Physician:</label>  
            <%=f.select(:physician_id,
              { 'Maria Wade'=>'10', 'Scott Wade'=>'11', 'Rolland Hoyt'=>'12', 'Jacki Hoyt'=>'13'}) %><br />
			
            <label class="form-label">First Name:</label>
            <%= f.text_field :first_name, :size=>64, :maxlength=>255, :tabindex=>1, :class=>"form-inputText" %><br />
			
            <label class="form-label">Last Name:</label>
            <%= f.text_field :last_name, :size=>64, :maxlength=>255, :tabindex=>2, :class=>"form-inputText" %><br />
			
            <label class="form-label">Email:</label>
            <%= f.text_field :email, :size=>64, :maxlength=>255, :tabindex=>3, :class=>"form-inputText" %><br />
                              
            <label class="form-label">Verify Email:</label>
            <%= f.text_field :email_confirmation, :size=>64, :maxlength=>255, :tabindex=>4, :class=>"form-inputText" %><br />

            <label class="form-label" id="form-phoneLabelOffset" >Phone #s:</label>
            <label class="form-phoneLabel">Home:</label>
            <%= f.text_field :phone_home, :size=>10, :maxlength=>10, :tabindex=>5, :class=>"form-inputText" %><br />
			
            <label class="form-phoneLabel">Mobile:</label>
            <%= f.text_field :phone_mobile, :size=>10, :maxlength=>10, :tabindex=>6, :class=>"form-inputText" %><br />
			
            <label class="form-phoneLabel">Work:</label>
            <%= f.text_field :phone_work, :size=>10, :maxlength=>10, :tabindex=>7, :class=>"form-inputText" %><br />
			
            <label class="form-phoneLabel">Fax:</label>
            <%= f.text_field :phone_fax, :size=>10, :maxlength=>10, :tabindex=>8, :class=>"form-inputText" %><br />
			
            <label class="form-phoneLabel">Emergency:</label>
            <%= f.text_field :phone_emergency, :size=>10, :maxlength=>10, :tabindex=>9, :class=>"form-inputText" %><br />

            <label class="form-label">Address:</label>
            <%= f.text_field :primary_address, :size=>64, :maxlength=>255, :tabindex=>10, :class=>"form-inputText" %><br />
			
            <label class="form-label">Address 2:</label>
            <%= f.text_field :alternate_address, :size=>64, :maxlength=>255, :tabindex=>11, :class=>"form-inputText" %><br />

            <label class="form-label">City:</label>
            <%= f.text_field :city, :size=>24, :maxlength=>255, :tabindex=>12, :class=>"form-inputText" %><br />
			
            <label class="form-label">State/Province:</label>
            <%=f.select(:state_province,
              { 'United States'=>'US', 'Alberta'=>'AB', 'British Columbia'=>'BC', 'Newfoundland and Labrador'=>'NL'}) %><br />

            <label class="form-label">Zip Code:</label>
            <%= f.text_field :zip_code, :size=>9, :maxlength=>10, :tabindex=>13, :class=>"form-inputText" %><br />
			
            <label class="form-label">Ethnicity:</label>
            <%=f.select(:ethnicity,
              { 'White'=>'100', 'Latin'=>'101', 'European'=>'102', 'Asian'=>'103' }) %><br />
			
            <label class="form-label">Gender:</label>
              <%=f.select (:gender, %w{ M F }) %><br />
			
            <label class="form-label">Date of Birth:</label>
              <%=f.date_select(:date_of_birth, :discard_minute=>true, :start_year=>1900, :end_year=>Time.now.year) %><br /> 

            <div id="form-buttons">
              <%= f.submit  'Create', :confirm=> "Are you sure?", :tabindex=>14, :class=>"form-subButton1" %>
              <% end %>
              <%= button_to 'List Index', @patient_profile, :method=>:get, :class=>"form-subButton2" %><br />
            </div>
          </div> <!-- end of class="main-form" -->
        </p>
		
        <div id="main-footer">
          <div id="footer-logo">
            <%= image_tag("proficientmd-logo.png", :size=>"155x35") %><br />
          </div>
        </div>
        <div id="footer-copyright"> &#169; 2009. ProficientMD. All rights reserved. </div>

    </div><!-- end of class="main-wrapper" -->
<!-- End of New Patient Profile -->
